<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda culpa, beatae facere numquam aliquid nobis nisi officiis rem commodi, mollitia repellat id aspernatur ea eligendi nihil debitis? Laborum laudantium architecto quas magnam, rerum, eveniet pariatur, fuga porro maxime at accusamus ullam deleniti quis culpa? Rerum dignissimos corporis ex sit exercitationem?ipsum dolor sit amet consectetur adipisicing elit. Soluta quo nulla praesentium explicabo ab voluptatibus doloribus consequatur expedita odio! Consequuntur amet velit ipsa cumque. Sed eligendi voluptatibus dicta blanditiis numquam.
</body>
</html>
